<% branch_path_name = "#{params[:action]}_projects_path" %>
<div class="col-sm-12">
  <ul class="flatiron_modules-list">
    <%= render all_flatiron_modules_button_partial_path, 
               branch_path_name: branch_path_name %>
    <% @flatiron_modules.each do |flatiron_module| %>
      <li class="flatiron_module-item">
        <%= link_to flatiron_module.name, 
                    send(branch_path_name, flatiron_module: flatiron_module.name), 
                    :class => ("selected-item" if params[:flatiron_module] == flatiron_module.name) %>
      </li>
    <% end %>
  </ul>
</div><!-- col-sm-12 -->