<% branch_path_name = "#{params[:action]}_projects_path" %>
<div class="col-sm-12">
  <ul class="flatiron_modules-list">
    <%= render all_flatiron_modules_button_partial_path, 
               branch_path_name: branch_path_name %>
  </ul>
</div>