<h1>Home page</h1>
<div class="container">
  <div class="row">
    <div id="side-menu"  class="col-sm-3">
    </div><!-- side-menu -->

    <div id="main-content" class="col-sm-9">
    <%= render @projects %>
    </div><!-- main-content -->

  </div><!-- row -->
</div><!-- container -->
<% if current_user %>
<%= current_user.name %>
<a href="./logout">Logout</a>
<%else%>
<%= link_to 'Sign in', new_user_session_path %>
<%end%>
