<div>
  <h4>Comment by <%= comment.author_name %></h4>
  <% if comment.created_at != nil  %>  
<p>Posted <%= distance_of_time_in_words(comment.project.created_at, comment.created_at) %> later</p>
<% end %>
  <p class="comment"><%= comment.body %></p>
</div>