<div class="container new-post">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1>Create a new project</h1>
        <%= render 'projects/new/project_form' %>
    </div>
  </div>
</div>