<div id="single-project-content" class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="posted-by">Posted by <%= @project.user.name %></div>
      <h3><%= @project.title %></h3>
      <p><%= @project.desctription %></p>
    </div>
  </div><!-- row -->
</div>