<div id="all-project-content" class="container">
  <%@projects.each do |project| %>
  <div class="col-sm-3 single-project-card" id="/projects/1">
    <div class="card">
      <h4 class="project-text">
      <%= link_to project.title, project_path(project) %></h4>
        <div class="project-text"><%= link_to project.description, project%>
        </div>
    </div>
  </div>
  <%end%>
</div>

