<div class="new-project-button-parent">
  <span>Want to list your project? </span>
  <br>
  <%= link_to "Create a new project", 
              new_project_path(branch: branch), 
              :class => "new-project-button" %>
</div>